.pic{
    margin: auto;
    width: 70%;

}

.pic img{
    width: 400px;
    height: 400px;

    margin: auto;
    
}

body{
    background-color: rgb(196, 255, 233);
    font-family: Arial, Helvetica, sans-serif;
}
