.pic{
    margin: auto;
    width: 70%;

}

.pic img{
    width: 400px;
    height: 400px;

    margin: auto;
    
}

body{
    background-color: blue;
    
}
.leftAlignedImage {
    float:left;
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 20px;
}